{
  "presets": ["@babel/env", "@babel/react"],
  "plugins": [
    "macros",
    "@babel/plugin-proposal-class-properties",
    ["module-resolver", {
      "root": ["./"],
      "alias": {
        "ui-kit": "./src"
      }
    }]
  ]
}